* {
    background: #252B42;
    font-family: sans-serif;
}

.nav1 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 30px;

    h1 {
        font-size: 24px;
        font-weight: 700;
    }

    div {
        display: flex;
        align-items: center;
        gap: 15px;

        button {
            padding-top: 15px;
            padding-right: 25px;
            padding-bottom: 15px;
            padding-left: 25px;
            gap: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            background: #23A6F0;
            color: white;
            border: none;

            img{
                background-color: #23A6F0;
            }
        }
    }

    .box1 {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}