* {
    background: #252B42;
    font-family: sans-serif;
}

.nav1 {
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
    z-index: 2;

    h1 {
        font-size: 24px;
        font-weight: 700;
    }

    div {
        display: flex;
        align-items: center;
        gap: 15px;

        button {
            padding-top: 15px;
            padding-right: 25px;
            padding-bottom: 15px;
            padding-left: 25px;
            gap: 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            background: #23A6F0;
            color: white;
            border: none;

            img {
                background-color: #23A6F0;
            }
        }
    }

    .box1 {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.pp1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    margin-bottom: 40px;
}

.box2 {
    max-width: 1200px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    flex-wrap: wrap;

    div {
        width: 50%;
        z-index: 2;
        background-color: #23a5f000;

        img {
            background-color: #ffffff00;
        }

        p {
            background-color: #ffffff00;
        }
    }
}

.pp2 {
    width: 330px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.btn1 {
    padding-top: 15px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 36px;
    gap: 10px;
    border-radius: 37px;
    color: white;
    background-color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.btn2 {
    padding-top: 15px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 36px;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    color: white;
    font-weight: 00;
}

.img1 {
    position: absolute;
    top: 120px;
    z-index: 0;
}

.as {
    margin-top: 200px;
}

.tel1 {
    display: none;
}






.asp1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: white;
    text-align: center;
}

.asp2 {
    font-size: 14px;
    line-height: 22px;
    color: #737373;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 60px;

}

.nn1 {
    width: 328px;
    height: 139px;
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    justify-content: center;
    gap: 20px;
    color: white;
}
.nn2 {
    width: 328px;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    margin: auto;
}
.w1{
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

@media(max-width:600px) {
    .w2{
        margin-top: 100px;
    }
    .tel1 {
        display: block;
    }

    .nav1 {
        display: none;
    }

    .as {
        display: none;
    }

    .box2 {
        display: none;
    }

    .box3 {
        display: flex;
        max-width: 560px;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 24px;
            font-weight: 700;
            color: white;
        }

        div {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .hp {
        font-size: 30px;
        text-align: center;
        color: white;
        font-weight: 400;
        margin-top: 100px;
        line-height: 45px;
    }

    .box4 {
        .pp2 {
            width: 80%;
            margin: auto;
            margin-top: 200px;
            font-weight: 700;
            font-size: 40px;
            line-height: 57px;
            text-align: center;
            color: white;
        }

        .pp3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            text-align: center;
            color: white;
            margin-top: 100px;
        }

        img {
            margin: auto;
            margin-top: 100px;
        }
    }

    .telbtn1 {
        margin-left: 100px;
        margin-top: 50px;
        padding-top: 10px;
        padding-right: 36px;
        padding-bottom: 10px;
        padding-left: 36px;
        gap: 10px;
        border-radius: 37px;
        background-color: #23A6F0;
        color: white;
        font-size: 14px;
        border: none;
    }

    .telbtn2 {
        margin-left: 115px;
        margin-top: 20px;
        padding-top: 10px;
        padding-right: 36px;
        padding-bottom: 10px;
        padding-left: 36px;
        gap: 10px;
        border-radius: 37px;
        gap: 10px;
        border-radius: 37px;
        color: white;
        font-size: 14px;
        border: 1px solid #FFFFFF;
    }
}